/* Les recomiendo usar Pigment, una pagina de Google que les da a elegir entre muchisimos colores y que les da
el valor hexadecimal, estan muy bonitos los tonos :D */ 

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

/* LAYOUT */
.layout {
    display: flex;
}

/* --------------------------ESTILOS PARA BARRA LATERAL--------------------------------------------- */
.sidebar {
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;   
    background: #1e293b;
    color: white;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar nav a {
    display: block;
    color: #cbd5f5;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sidebar nav a:hover {
    background: #334155;
}

.sidebar nav a.active {
    background: #3b82f6;
    color: white;
}

.logout-btn{
    margin-top:auto;
    padding:10px;
    width:100%;
    border:none;
    background:#e74c3c;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

.logout-btn:hover{
    background:#c0392b;
}
/*-------------------------------------------------------------------------------------------------------*/

/* CONTENT */
.content {
    margin-left: 220px; 
    padding: 20px;
    width: calc(100% - 220px); 
}

h1 {
    margin-bottom: 20px;
}

/* CARD */
.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* FORM */
form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

input {
    padding: 10px;
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #3b82f6;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #2563eb;
}
button {
    margin: 5px;
}

button:nth-child(1) {
    background: #10b981;
}

button:nth-child(2) {
    background: #ef4444;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #3b82f6;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.form-grid{
display:grid;
grid-template-columns: repeat(3, 1fr);
gap:20px;
margin-top:20px;
}

.form-grid input,
.form-grid select{
width:100%;
padding:8px;
border:1px solid #ccc;
border-radius:4px;
}

.section-title{
grid-column: span 3;
margin-top:20px;
}

.botones{
grid-column: span 3;
display:flex;
justify-content:center;
gap:20px;
margin-top:20px;
}
/*------------------------------------ESTILOS LOGIN ------------------------------------------------------*/
.tabs{
    display:flex;
    gap: 10px;
    margin-bottom:25px;
}

.tab{
    flex:1;
    text-align:center;
    padding:10px;
    cursor:pointer;
    background:#e5e5e5;
    border-radius:10px;
    font-weight:600;
    transition:0.2s;
}

.tab:hover{
    background:#dcdcdc;
}

.tab.active{
    background:white;
    border-bottom:3px solid #4da3ff;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #275f90, #00f2fe);
}

/* Tarjeta */
.login-card {
    background: white;
    padding: 30px;
    width: 350px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    text-align: center;
}

.login-header h1 {
    margin: 0;
    color: #333;
}

.login-header p {
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

/* Inputs flotantes */
.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    box-sizing: border-box;
}

.input-group label {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #888;
    font-size: 14px;
    transition: 0.3s;
    pointer-events: none;
}

.input-group input:focus + label,
.input-group input:valid + label {
    top: -8px;
    left: 8px;
    font-size: 12px;
    background: white;
    padding: 0 5px;
}

.input-group select {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.btn-login {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #4facfe;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.btn-login:hover {
    background: #00c6ff;
}

.mensaje-error {
    color: red;
    margin-top: 10px;
}


/*-----------------------------------------FIN DE ESTILOS LOGIN :D---------------------------------------*/
/*------------------------------------ESTILOS PORTAL ALUMNO ------------------------------------------------------*/
.header{
    width: 100%;
    max-width: 900px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* CONTENIDO CENTRADO */
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* TARJETAS */
.card{
    width: 100%;
    max-width: 900px;
}

/* TITULO */
h1{
    width: 100%;
    max-width: 900px;
}