body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

/* LAYOUT */
.layout {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 220px;
    height: 100vh;
    background: #1e293b;
    color: white;
    padding: 20px;
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar nav a {
    display: block;
    color: #cbd5f5;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.sidebar nav a:hover {
    background: #334155;
}

.sidebar nav a.active {
    background: #3b82f6;
    color: white;
}

/* CONTENT */
.content {
    flex: 1;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

/* CARD */
.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* FORM */
form {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

input {
    padding: 10px;
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #3b82f6;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #2563eb;
}
button {
    margin: 5px;
}

button:nth-child(1) {
    background: #10b981;
}

button:nth-child(2) {
    background: #ef4444;
}

/* TABLE */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background: #3b82f6;
    color: white;
    padding: 10px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}